// .container__header {
//   background-color: #ffffff;
//   display: flex;
//   justify-content: space-between;
//   padding: 0px 45px;
//   align-items: center;
//   height: 88px;
//   border-radius: 0px!important;
//   font-size: 12px;
//   font-weight: lighter;

//   .container__header--btnmenu {
//     display: flex;
//     width: 30%;
//     justify-content: space-around;
//     height: auto;
//     .header--btninvest {
//       a {
//         border: 1px solid rgba(0, 0, 0, 0.062);
//         border-radius: 50px;
//         padding: 10px 20px;
//       }
//     }


//   }
//   .container__header--logo {
//     width: 30%;
//   }
//   .container__header--user {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-evenly;
//     align-items: center;
//     width: 30%;
//     .header--user--name {
//       font-size: 18px;
//     }
//   }
// }
