<div class="container__formulario--log">
  <div class="container__img--form">
    <img
      class="img__desktop--login"
      src="../../../../assets/img/2btrust-img/logos/2B - Assets - 02.jpg"
      alt="Homen no telefone"
    />
    <img
    class="img__mobile--login"
    src="../../../../assets/img/2btrust-img/logos/2B - Assets - 01.jpg"
    alt="Um grande Predio">
    <div class="container__link--website">
      <a href="https://2btrust.com/" class="link--website">
        visit our website
        <i class="bi bi-arrow-up-right"></i>
      </a>
    </div>
  </div>
  <div class="container__formulario--spacing">
    <div class="card">
      <div class="container__formulario--input" >


        <div class="img__logo--form">
          <img
            class="mb-4"
            src="../../../../assets/img/2btrust-img//logos/logo@2x.gif"
            alt="Logo da 2btrust"
          />
        </div>
        <form>
          <div class="mb-4">
            <h3>Agende sua reunião</h3>
          </div>
          <app-datepicker></app-datepicker>

          <button class="btn--logar" type="button" style="width: 100%">
            Confirm
            <i class="bi bi-arrow-up-right"></i>
          </button>

        </form>

        <div class="container__forgot--password">

          <span>version 6.01.26</span>

        </div>
      </div>
    </div>
  </div>
  <!-- <simple-notifications></simple-notifications> -->
</div>
