<div class="card">
  <div class="card-body"  style="height: 100vh;">

    <img class="mb-4" src="../../../../assets/img/2btrust-img/logos/dark-logo.png" alt="Logo da 2btrust">
    <form #overLineForm="ngForm" novalidate>
      <div class="teste">
        <h1>testando</h1>
      </div>
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <label class="form-group form-control">
        <input class="form-control" required ngModel #email2="ngModel" name="email2"/>
        <span>{{ 'forms.email' | translate }}</span>
        <div *ngIf="!email2.valid && overLineForm.submitted" class="invalid-tooltip">Value is required!</div>
      </label>
      <label class="form-group has-float-label">
        <input class="form-control" type="password" placeholder="" required ngModel #password2="ngModel" name="password2"/>
        <span>{{ 'forms.password' | translate }}</span>
        <div *ngIf="!password2.valid && overLineForm.submitted" class="invalid-tooltip">Value is required!</div>
      </label>
      <button class="btn btn-primary" type="submit" style="width: 100%;">{{ 'forms.signup' | translate }}</button>
    </form >

  </div>
</div>

