<div class="container__formulario--log">
  <div class="container__img--form">
    <img
      class="img__desktop--login"
      src="../../../../assets/img/2btrust-img/logos/2B - Assets - 02.jpg"
      alt="Homen no telefone"
    />
    <img
    class="img__mobile--login"
    src="../../../../assets/img/2btrust-img/logos/2B - Assets - 01.jpg"
    alt="Um grande Predio">
    <div class="container__link--website">
      <a href="https://2btrust.com/" class="link--website">
        visit our website
        <i class="bi bi-arrow-up-right"></i>
      </a>
    </div>
  </div>
  <div class="container__formulario--spacing">
    <div class="card">
      <div class="container__formulario--input" >
        <!-- <div class="container__link--sing mb-4">
          <span> Do you don't have account? </span>
          <div class="link--sing">
            <a routerLink="/register" class="sing--link">
              register now
              <i class="bi bi-arrow-up-right"></i>
            </a>
          </div>
        </div> -->

        <div class="img__logo--form">
          <img
            class="mb-4"
            src="../../../../assets/img/2btrust-img//logos/logo@2x.gif"
            alt="Logo da 2btrust"
          />
        </div>
        <form>
          <div class="questions">
            <input type="checkbox" name="question1" id="">
            <label for="question1">
              O investidor teve renda superior a US$ 200.000 individualmente ou
              superior a US$ 300.000 em conjunto com seu cônjuge ou “equivalente conjugal”
              (ou seja, coabitante em um relacionamento geralmente equivalente ao de um cônjuge)
              em cada um dos últimos dois anos e espera razoavelmente alcançar o mesmo este ano;
            </label>
          </div>
          <div class="divisor"></div>
          <div class="questions">
            <input type="checkbox" name="question2" id="">
            <label for="question2">
              O investidor tem um patrimônio líquido (sozinho ou com um cônjuge ou equivalente)
              superior a US$ 1.000.000 (excluindo o valor da residência principal do investidor);
            </label>
          </div>
          <div class="divisor"></div>
          <div class="questions">
            <input type="checkbox" name="question3" id="">
            <label for="question3">
              O investidor é titular da Autoridade Reguladora do Setor Financeiro dos EUA
              (“FINRA”) Série 7 (Representante Geral de Valores Mobiliários), 65
              (Representante do Consultor de Investimentos)
               ou 82 (Licenças de Representante de Ofertas de Valores Mobiliários Privados);
            </label>
          </div>
          <div class="divisor"></div>
          <div class="questions">
            <input type="checkbox" name="question4" id="">
            <label for="question4">
              O investidor terá US$ 1.000.000 ou mais de ativos sob
              gestão com o consultor de investimentos após o investimento;
            </label>
          </div>
          <div class="divisor"></div>

          <div class="questions">
            <input type="checkbox" name="question5" id="">
            <label for="question5">
              O investidor tem um patrimônio líquido de mais de US$ 2.000.000 antes do
              investimento (excluindo o valor de sua residência principal);
            </label>
          </div>
          <div class="divisor"></div>

          <div class="questions">
            <input type="checkbox" name="question6" id="">
            <label for="question6">
              O investidor possui US$ 5.000.000 ou mais em investimentos (incluindo
              propriedade conjunta, comunitária ou outra propriedade compartilhada com seu cônjuge);
            </label>
          </div>
          <div class="divisor"></div>

          <div class="questions">
            <input type="checkbox" name="question7" id="">
            <label for="question7">
              Investidor agindo por conta própria ou por conta de outros compradores qualificados
              e que, no conjunto, possua e invista de forma discricionária, não inferior a
              US$ 25.000.000 em investimentos;
            </label>
          </div>
          <div class="divisor"></div>

          <div class="questions remove--border">
            <input type="checkbox" name="question8" id="" class="">
            <label for="question8">
              eu não sou nenhum dos acima
            </label>
          </div>

          <button class="btn--logar" type="button" style="width: 100%">
            Enviar

            <i class="bi bi-arrow-up-right"></i>

          </button>

        </form>

        <div class="container__forgot--password">

          <span>version 6.01.26</span>

        </div>
      </div>
    </div>
  </div>
  <!-- <simple-notifications></simple-notifications> -->
</div>

        <!-- <label class="form-group has-float-label">
          <input
            class="form-control"
            required
            email
            ngModel
            #email="ngModel"
            name="email"
            [(ngModel)]="emailModel"
          />
          <span>{{ "user.email" | translate }}</span>
          <div
            *ngIf="!email.valid && loginForm.submitted"
            class="invalid-tooltip"
          >
            Email is required!
          </div>
        </label>
        <label class="form-group has-float-label">
          <input
            class="form-control"
            type="password"
            placeholder=""
            required
            ngModel
            #password="ngModel"
            name="password"
            [(ngModel)]="passwordModel"
          />
          <span>{{ "user.password" | translate }}</span>
          <div
            *ngIf="!password.valid && loginForm.submitted"
            class="invalid-tooltip"
          >
            Password is required!
          </div>
        </label>
        <div class="d-flex justify-content-between align-items-center">
          <a routerLink="/user/forgot-password"
            >{{ "user.forgot-password" | translate }}?</a
          >
          <app-state-button
            [btnClass]="'btn btn-primary btn-lg btn-shadow'"
            [currentState]="buttonState"
            [isDisabled]="buttonDisabled"
            click="onLoginClick()"
          >
            {{ "user.login-button" | translate | uppercase }}
          </app-state-button>
        </div> -->
